<ul class="links" id="tabnav-left">
</ul>

<ul class="links" id="tabnav-right">
  <li><a href="<%= blog_root %>/admin/posts/new">+ New Post</a></li>
</ul>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Comments</th>
    </tr>
  </thead>
  <% @posts.each do |post| %>
  <tr>
    <td>
      <a href="<%= blog_root %>/admin/posts/<%= post.id -%>"><%=h post.to_s %></a>
      <a href="<%= blog_root %>/<%= post.path %>">(<%= post.published ? '' : 'pre' -%>view)</a>
    </td>
    <td>
      <%= post.status %>
    </td>
    <td>
      <a href="<%= blog_root %>/admin/posts/<%= post.id -%>/comments">
        <%= post.comments.length %> Total 
        <% if Comment.require_approvals? %>
        / <%= post.comments.select {|c| !c.approved}.length  %> Unapproved
        <% end %>
      </a>
    </td>
  </tr>
  <% end %>
</table>
