<%= @error ? "<div class=\"errors\"><p>#{@error}</p></div>" : UI::ErrorMessages.new(self, "Your comment could not be created:", response.errors) %>
<h3><%= @post.title %></h3>
<% unless @post.byline.empty? %><p class="byline"><%= @post.byline %></p><% end %>

<div>
  <%= RedCloth.new(@post.content).to_html %>
</div>

<%= render "articles/_comments" %>
