<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title><%= @blog.title %></title>
	<style type="text/css" media="screen">
	 body { font: 12px/20px "Lucida Grande", helvetica, sans-serif; margin: 0; }
	 h1, h2 { background-color: #048; color: #fff; margin: 0; text-align: center; padding: 5px; }
	 h1 { padding-top: 20px; }
	 h2 { padding-bottom: 20px; }
	 h1 a { color: #fff; }
	 #content { padding: 0 20px; width: 60em; margin: 0 auto; }
	 .errors { background-color: #b55; margin-top: 10px; padding: 10px; color: #fff; }
	 .errors h2 { background-color: #b55; text-align: left; font-size: 14px; margin: 0; padding: 0; }
	</style>

  <%= write_head %>
</head>

<body>
	<h1><a href="<%= blog_root.empty? ? '/' : blog_root %>"><%= @blog.title %></a></h1>
	<% if tagline = @blog.tagline %>
	  <h2><%= tagline %></h2>
	<% end %>
  
  <div id="content">
    <% if request.params['message'] %>
    <p class="message"><%= request.params['message'] %></p>
    <% end %>
    <%= @content %>
  </div>
</body>
</html>

