<% head do %>
<style type="text/css" media="screen">
  .post { border-bottom: #CCCCCC solid 1px; }
  .comments span { font-weight: bold }
</style>
<% end %>


<% if @posts && @posts.any? %>
  <% for post in @posts %>
  <% total_comments = post.approved_comments.size %>
	<div class="post">
		<h3><a class="title" href="<%= @blog.root + post.path %>" rel="bookmark"><%= post.title %></a></h3>
		<div class="info">
			<span class="date"><%= post.published_at.strftime('%B %d, %Y')%></span>
      <span class="comments">
        <% if total_comments > 0 %>
          <a href="<%= @blog.root + post.path %>#comments" title="Comment on HTML"><%= total_comments %> comment<%= 's' if total_comments > 1 %></a>
        <% elsif not post.accepting_comments? %>
          <span>Comments off</span>
        <% else %>
          <a href="<%= @blog.root + post.path %>#comments" title="Leave a Comment">Be the first to comment!</a>
        <% end %>
      </span>
			<div class="fixed"></div>
		</div>

		<div class="content">
      <%= RedCloth.new(post.content).to_html %>
			<div class="fixed"></div>
		</div>

		<div class="under"></div>
	</div>
	<% end %>
<% end %>

<div id="pagenavi">
  <span class="newer"></span>
	<span class="older"></span>
	<div class="fixed"></div>
</div>