<% head "message" do %>
<style type="text/css" media="screen">
  .message { background-color: #0A0; color: #FFF; padding: 0 4px;}
</style>
<% end %>

<%= @error ? "<div class=\"errors\"><p>#{@error}</p></div>" : UI::ErrorMessages.new(self, "Your comment could not be created:", response.errors) %>
<h3><%= @post.title %></h3>
<% unless @post.author.nil? %><p class="byline"><%= @post.author.to_s %></p><% end %>

<div>
  <%= RedCloth.new(@post.content).to_html %>
</div>

<p>
  <strong>Tags</strong>: <%= @post.tags.map { |tag| tag.name }.join(', ') %>
</p>

<%= render "posts/_comments" %>
